<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="logo">Vidhi Shah</div>
      <div class="nav-items">
        <a href="#">Home</a>  <a href="#">Experience</a>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-container">
        <div class="column-left">
          <h1>About me!
          </h1>
          <p>
            Technical Projects with 18+ Months of Application Development, Solution Design, and Project 
            Management Experience. Has a track record of successfully understanding and meeting the 
            technical demands of businesses through clever innovation. Experience in full stack 
            development technologies with skills in Workflow Management, Intuitive User Experience & 
            Product Management, and Web & Mobile Application Development.            
          </p>
        
         
        </div>
        <div class="column-right">
          <img
            src="experience.png"
            alt="illustration
        "
            class="hero-image"
          />
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-container">
        <div class="column-lef">
          <h1>Experience</h1>
          <p>
            I have experience in web development, primarily focusing on HTML and CSS. I'm proficient in Bootstrap and have 
            worked with various web libraries to add interactive features to websites. My goal is to create user-friendly and 
            visually appealing web experiences.
            
          </p>
          <h1>Experience</h1>
          <p>
            • Got Hands on experience of Project Development under a professional mentor.
            • Responsible for design, technical delivery, interpersonal, training, integration, database, 
            architecture, analysis. Experience in SDLC from Planning to deployment & Team 
            Management. 
            • Coordinate with Architects for Solution understanding, design and reviews. Coordinate 
            with Product owner & stakeholders as per requirement.
          </p>
          <h1>Education</h1>
          <p>
            Masters in Information Technology EXPECTED MAY 2025 - Illinois Institute Of Technology
            Integrated Master of Science in Computer application & IT JUL 2016 - JAN 2022 - Indus University.
        </p>
        </div>
      </div>
    </section>
  </body>
</html>
